.btn {
  padding: 10px 40px;
  &-back {
    text-transform: capitalize;
    color: var(--white);
    border-radius: 7px;
    background: var(--btn-back);
    display: inline-block;
    font-size: 20px;
    &:hover {
      background: var(--message-self);
    }
  }
}
