.btn {
  padding: 10px 40px;
  &-back {
    text-transform: capitalize;
    color: var(--white);
    border-radius: 7px;
    background: var(--btn-back);
    display: inline-block;
    font-size: 20px;
    &:hover {
      background: var(--message-self);
    }
  }
  &-access,
  &-close {
    width: 150px;
    height: 40px;
    font-size: 16px;
    border-radius: 7px;
    font-family: "Segoe UI Bold";
    color: var(--white);
  }
  &-access {
    background: var(--btn-send-message);
  }
  &-close {
    background: var(--notification);
  }
}
