:root {
  --light-gray: #cad2c5;
  --light-green: #84a98c;
  --medium-green: #52796f;
  --dark-green: #354f52;
  --darkest-green: #2f3e46;
  --white: #fff;
  --black: #000;
  --notification: #fd4339;
}
